[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
bcrypt = "*"
pyjwt = "*"
pymysql = "*"
sqlalchemy = "*"
python-dotenv = "*"
opencv-python = "*"
numpy = "*"
scikit-learn = "*"
scikit-image = "*"
pypickle = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
